<!DOCTYPE html>
<html>
    <body>
        <div id="main">
            <form action="/formulario" method="post">
                    <label for="name">ID</label>
                    <br>
                    <input type="text" id="ID" name="ID" value="">
                    <br>
                    <br>
                    <label for="name">Nombre</label>
                    <br>
                    <input type="text" id="Nombre" name="Nombre" value="">
                    <br>
                    <br>
                    <label for="name">Fecha de nacimiento</label>
                    <br>
                    <input type="text" id="fechaNac" name="fechaNac" value="">
                    <br>
                    <br>
                    <label for="name">Nacionalidad</label>
                    <br>
                    <input type="text" id="Nac" name="Nac" value="">
                    <br>
                    <br>
                    <label for="name">TeamId</label>
                    <br>
                    <input type="text" id="TeamId" name="TeamId" value="">
                    <br>
                    <br>
                    <label for="name">Posición</label>
                    <br>
                    <input type="text" id="Pos" name="Pos" value="">
                    <br>
                    <br>
                    <label for="name">Numero</label>
                    <br>
                    <input type="text" id="Num" name="Num" value="">
                    <br>
                    <br>
                    <label for="name">LeagueId</label>
                    <br>
                    <input type="text" id="LeagueId" name="LeagueId" value="">
                    <br>
                    <br>
                    <br>
            
                    <input type="submit" class="form-submit" value="Añadir">
            </form>
            </div>
</body>
</html>
