<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="/register" method="post">
      <h2>Register</h2>
      <br>
      <div class="input-field">
        <label for="name">Nombre</label>
        <br>
        <input type="text" name="name" id="name">
      </div>
      <br>
      <br>
      <div class="input-field">
        <label for="name">Apellidos</label>
        <br>
        <input type="text" name="subname" id="subname">
      </div>
      <br>
      <br>
      <div class="input-field">
        <label for="name">Correo electrónico</label>
        <br>
        <input type="email" name="email" id="email">
      </div>
      <br>
      <br>
      <div class="input-field">
        <label for="name">Contraseña</label>
        <br>
        <input type="password" name="password" id="password">
      </div>

      <br>
      <br>
      <input type="submit" value="Register">
      <div>
        <p style="color: red"><%=error%></p>
      </div>
    </form> 
  </body>
</html>
